* {
    box-sizing: border-box;
}

body {
    background-color: #e4c18d;
    font-family: 'Courier New', Courier, monospace;
}



/* ########## MAIN HTML ########## */

h1 {
    color: #cc9543;
    font-family: "Norse";
    font-size: 5rem;
    letter-spacing: 0.04em;
    text-align: center;
    text-transform: uppercase;
}

.links {
    flex-direction: column;
    display: flex;
    display: inline-block;
}

.link {
    color: black;
    display: flex;
    font-size: 1.5rem;
    margin: 10px;
    text-decoration: none;
}



/* ########## LASAGNA HTML ########## */
.image {
    height: 250px;
    width: 500px;
}



/* ########## SOUP HTML ########## */
.image1 {
    height: 460px;
    width: 500px;
}



/* ########## BREAD HTML ########## */
.image2 {
    height: 460px;
    width: 500px;
}